@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<Address>
<input type="hidden" name="accion" value="@ViewBag.Accion" />


@* <style>
    /* Estilos para la tabla */
    .table-container {
        width: 100%;
        overflow-x: auto;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
    }

        .table th,
        .table td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        .table th {
            background-color: #f2f2f2;
        }

            .table th:last-child,
            .table td:last-child {
                text-align: center;
            }

    /* Estilos para los botones */
    .btn-primary {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 8px 16px;
        border-radius: 4px;
        cursor: pointer;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }

    /* Estilos para el fondo */
    body {
        background-color: #f8f9fa;
    }
</style> *@
<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Street)</th>
                <th>@Html.DisplayNameFor(model => model.City)</th>
                <th>@Html.DisplayNameFor(model => model.State)</th>
                <th>@Html.DisplayNameFor(model => model.Country)</th>
                <th>@Html.DisplayNameFor(model => model.PostalCode)</th>
                <th>
                    @if (ViewBag.Accion == "Create" || ViewBag.Accion == "Edit")
                    {
                        <button type="submit" class="btn btn-primary" formaction="@Url.Action("AgregarDetalles")">Agregar</button>
                    }
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                int index = -1;
            }
            @if (Model != null && Model.Any())
            {
                @foreach (var item in Model)
                {
                    index++;
                    if (item.Id > -1)
                    {
                        <tr>
                            <td>
                                <input type="hidden" value="@item.Id" name="Addresses[@index].Id">
                                <input type="hidden" value="@item.CustomerId" name="Addresses[@index].CustomerId">
                                <input class="form-control" data-readonly type="text" name="Addresses[@index].Street" value="@item.Street">
                            </td>
                            <td>
                                <input class="form-control" data-readonly type="text" name="Addresses[@index].City" value="@item.City">
                            </td>
                            <td>
                                <input class="form-control" data-readonly type="text" name="Addresses[@index].State" value="@item.State">
                                <span class="text-danger" data-valmsg-for="Addresses[@index].State" data-valmsg-replace="true"></span>
                            </td>
                            <td>
                                <input class="form-control" data-readonly type="text" name="Addresses[@index].Country" value="@item.Country">
                            </td>
                            <td>
                                <input class="form-control" data-readonly type="text" name="Addresses[@index].PostalCode" value="@item.PostalCode">
                            </td>
                           
                            <td>
                                @if (ViewBag.Accion == "Create" || ViewBag.Accion == "Edit")
                                {
                                    <button name="index" value="@index" class="btn btn-primary" type="submit" formaction="@Url.Action("EliminarDetalles")">Eliminar</button>
                                }
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">
                                <input type="hidden" value="@item.Id" name="Addresses[@index].Id">
                                <input type="hidden" value="@item.CustomerId" name="Addresses[@index].CustomerId">
                                <input type="hidden" name="Addresses[@index].Street" value="@item.Street">
                                <input type="hidden" name="Addresses[@index].City" value="@item.City">
                                <input type="hidden" name="Addresses[@index].Country" value="@item.Country">
                                <input type="hidden" name="Addresses[@index].PostalCode" value="@item.PostalCode">
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>

@if (ViewBag.Accion == "Details" || ViewBag.Accion == "Delete")
{
    <script>
        const readOnly = document.querySelectorAll("*[data-readonly]");
        for (var i = 0; i < readOnly.length; i++) {
            const item = readOnly[i];
            item.setAttribute("readonly", true);
        }
    </script>
}
